<nav class="navbar navbar-default navbar-fixed-top">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="marsala"><a href="#ourWedding">Our Wedding</a></li>
        <li class="green"><a href="#details">Details</a></li>
        <li class="marsala"><a href="#pictures">Pictures</a></li>
        <li class="green"><a href="#registry" class="green">Registry</a></li>
        <li class="marsala"><a href="#rsvp">RSVP</a></li>
        <li class="green"><a href="#ourStory">Our Story</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>