<%= render 'partials/navbar' %>

<div id="fullpage">
    <div class="section">
    	<div class="our-wedding">
    		<div class="container">
    			<div class="outer-div">
    				<div class="message-box">
	    				<h1 class="text-center"><span class="sara">SARA</span> + <span class="ty">TY</span></h1>
	    				<div class="date-box">
	    					<h2 class="text-center">12.30.2016</h2>
	    				</div>
	    				<h3 class="accent text-center"><a href="/#details">SCROLL FOR MORE</a></h3>    				
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="section">
    	<div class="details">
    		<div class="container">
    			<div class="row">
    				Details    				
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="section">
    	<div class="pictures">
    		<div class="container">
    			<div class="row">
    				Pictures    				
    			</div>
    		</div>
    	</div>
    </div>

    <div class="section">
    	<div class="registry">
    		<div class="container">
    			<div class="row">
    				Registry    				
    			</div>
    		</div>
    	</div>
    </div>

    <div class="section">
    	<div class="rsvp">
    		<div class="container">
    			<div class="row">
    				<%= render 'partials/rsvp_form' %>
    			</div>
    		</div>
    	</div>
    </div>
</div>